@import "variables.sass"
.menu-edit-container
    width: 100%
    padding: 1.5em
    .menu-container
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        border-radius: 25px
        padding-bottom: 2em
        box-shadow: 0px 0px 10px #00000049
        .menu-header
            background-image: url('/src/assets/images/placeholder-image.jpg')
            width: 100%
            height: 250px
            padding: 2em
            display: flex
            border-radius: 25px 25px 0px 0px
            background-size: cover
            background-position: center 
            justify-content: flex-end
            .head-buttons
                height: 100%
                display: flex
                flex-direction: column
                align-items: flex-end
                justify-content: space-between
                .btn-head
                    width: fit-content
                    height: fit-content
                    background-color: #0000005e
                    border-radius: 10px
                    padding: .5em 1em
                    color: #fff
                    display: flex
                    font-weight: 600
                    font-style: italic
                    label
                        display: flex
                        align-items: center
                        span
                            margin-right: 0.2em
        .info-restaurant
            display: flex
            padding: 0em 2em
            width: 100%
            margin-bottom: 2em
            margin-top: -85px
            justify-content: space-between
            align-items: flex-end
            .desc-restaurant
                display: flex
                align-items: flex-end
                .logo-restaurant
                    background-color: $midgrey
                    box-shadow: 0px 0px 10px #00000049
                    border: 4px solid #fff
                    width: 150px
                    height: 150px
                    border-radius: 20px
                    img
                        object-fit: cover
                        width: 100%
                        height: 100%
                .restaurant-name
                    font-size: 1.7em
                    font-weight: bold
                    font-style: italic
                    margin-left: 1em
            .info-social
                display: flex
                flex-direction: row
                align-items: center
                .social-icon
                    margin: 0px 5px
                    height: fit-content
                    cursor: pointer
                    span
                        font-size: 2em
                        line-height: 50px
        .menu-buttons
            display: flex
            justify-content: space-between
            width: 100%
            padding: 0em 2em
            .btn-menu
                display: flex
                flex-direction: row
                align-items: center
                justify-content: space-between
                background-color: #fff
                box-shadow: 0px 0px 10px #0000002c
                margin: 0.5rem 0
                padding: 0.5rem
                border-radius: 15px
                border-left: 5px solid $primary
                color: $dark
                font-weight: 600
                font-style: italic
                cursor: pointer
                transition: .4s
                span
                    margin-right: 0.2em
                &:hover
                    background-color: $primary
                    color: $white
            .btn-add-category
                background-color: $primary
                color: $white
                &:hover
                    background-color: $primarydark
                    border-left-color: $primarydark
        .menu-categories
            width: 100%
            padding: 0em 2em
            margin: 2em 0em
            .menu-category
                margin-bottom: 1em
                overflow: hidden
                .header-category
                    background-color: $mlightgrey
                    padding: 0.6em 1em
                    border-radius: 20px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    cursor: pointer
                    transition: .8s
                    &.active
                        border-radius: 20px 20px 0px 0px
                        transition: 0s
                    .btn-add-category, .btn-add-product, .btn-view-menu, .menu-hours, .edit-design, .emoji-category, .edit-category-buttons span, .edit-product-buttons span, .option-product-one, .option-product-two
                        cursor: pointer
                    .info-head-category
                        display: flex
                        align-items: center
                        position: relative
                        .emoji-category
                            cursor: pointer
                            margin: 0px 10px
                            border-radius: 5px
                            font-size: 2em
                            display: inline-block
                        .emoji-category.disabled
                            cursor: not-allowed
                            pointer-events: none
                        .emoji-picker-container, .v3-emoji-picker
                            position: absolute
                            top: 0
                            z-index: 1000
                        .edit-category-buttons
                            height: fit-content
                        h3
                            font-size: 1.4em
                            font-weight: 600
                            padding: 0.2em 0.5em
                        .input-title-category
                            border: 1px solid $grey
                            display: flex
                            align-items: center
                            background-color: $white
                            padding: 0.2em 0.5em
                            font-size: 1.4em
                            font-weight: 600
                            border-radius: 20px
                            input
                                border: none
                                font-weight: 600
                                outline: none
                                &:active, &:focus-visible, &:focus-within
                                    border: none
                                    outline: none
                    .edit-category-buttons
                        span
                            margin: 0em 0.2em
                            font-size: 1.8em
                        .deleted
                            color: $negative
                .product-container
                    transition: height 0.4s ease
                    min-height: fit-content!important
                    border: 2px $midgrey solid
                    border-top: none
                    border-radius: 0px 0px 20px 20px
                    &.collapsed
                        height: 0
                    &.expanded
                        height: auto
                    .product-content
                        padding: 1em
                        display: flex
                        width: 100%
                        gap: 1em
                        justify-content: space-around
                        border-bottom: 2px $midgrey solid
                        
                        .main-info-product
                            display: flex
                            width: 50%
                            gap: 1em
                            .img-product
                                min-width: 125px!important
                                width: 125px!important
                                height: 125px!important
                                border-radius: 10px
                                position: relative
                                background-color: $mlightgrey
                                img
                                    width: 100%
                                    height: 100%
                                    border-radius: 10px
                                    object-fit: cover
                                .btn-img-product
                                    position: absolute
                                    bottom: 5%
                                    right: 5%
                                    display: flex
                                    .btn-edit-img, .btn-delete-img
                                        background-color: $positive
                                        margin: 0em 0.2em
                                        padding: 0.2em 0.2em 0em 0.2em
                                        border-radius: 5px
                                        cursor: pointer
                                        span
                                            color: $white
                                            font-size: 1.4em
                                            line-height: 1
                                    .btn-delete-img
                                        background-color: $negative
                            .inpt-info-product
                                display: flex
                                flex-wrap: wrap
                                width: 80%
                                justify-content: space-between
                                gap: 1em
                                .inp-first-col
                                    width: 47%
                                    label
                                        font-size: 0.8em
                                    input, textarea
                                        width: 100%
                                        border-radius: 10px
                                        outline: none
                                        padding: 0.2em 1em
                                        border: 2px solid $grey
                                    textarea
                                        min-height: 100px
                                    .price-input, .discount-input
                                        display: flex
                                        align-items: center
                                    .currency-sign
                                        margin-right: 4px
                                        font-size: 16px
                                    .check-off
                                        display: flex
                                        flex-direction: column
                                        height: 100%
                                        justify-content: flex-end
                                        &.true
                                            justify-content: space-between
                                        .check-off-inp
                                            display: flex
                                            input
                                                width: auto
                                                margin-right: 1em
                                        p
                                            font-size: 0.7em
                        .options-product
                            display: flex
                            flex-wrap: wrap
                            width: 35%
                            padding: 1em
                            align-items: center
                            align-content: center
                            justify-content: center
                            border-right: 2px solid $midgrey
                            border-left: 2px solid $midgrey
                            gap: 1em
                            .option-product
                                text-align: center
                                &.option-product-one
                                    padding-bottom: 1em
                                    border-bottom: 2px solid $midgrey
                                h4
                                    font-size: 1.2em
                                    color: $primary
                                    span
                                        border-radius: 100px
                                        background-color: $primary
                                        color: $white
                                        padding: .1em .4em
                                p
                                    font-size: 0.8em
                        .product-end-options
                            width: 15%
                            display: flex
                            min-height: 100%
                            flex-direction: column
                            justify-content: space-between
                            align-items: flex-end
                            .status-product
                                width: 100%
                                label
                                    font-size: 0.8em
                                .inp-dropdown
                                    border: 2px solid $grey
                                    border-radius: 20px
                                    display: flex
                                    align-items: center
                                    padding: .2em .4em .2em .4em
                                    .status-color
                                        min-width: 12px
                                        width: 12px
                                        height: 12px
                                        border-radius: 100%
                                        border: 2px solid $white
                                    .status-color.active
                                        background-color: $positive
                                    .status-color.inactive
                                        background-color: $negative
                                    select
                                        border: none
                                        font-weight: 600
                                        outline: none
                                        &:active, &:focus-visible, &:focus-within
                                            border: none
                                            outline: none
                            .edit-product-buttons
                                cursor: pointer
                                span
                                    margin: 0em 0.2em
                                    font-size: 1.8em
                                .deleted
                                    color: $negative
                    .add-product
                        padding: 1em
                        .btn-add-product
                            align-items: center
                            justify-content: space-between
                            background-color: $primary
                            box-shadow: 0px 0px 10px #0000002c
                            margin: 0.5rem 0
                            padding: 0.5rem
                            border-radius: 15px
                            color: $white
                            font-weight: 600
                            font-style: italic
                            cursor: pointer
                            transition: .4s
                            &:hover
                                background-color: $primarydark
            .modal-overlay
                position: fixed
                top: 0
                left: 0
                width: 100%
                height: 100%
                background-color: rgba(0, 0, 0, 0.5)
                display: flex
                justify-content: center
                align-items: center
                z-index: 99999
                .modal-social-content
                    .social-icon
                        width: 100%
                        &.phone
                            margin-bottom: 1em
                        img
                            margin: 10px 20px
                        input
                            border-radius: 10px
                            outline: none
                            padding: 0.2em 1em
                            border: 2px solid $grey
                    p
                        i
                            font-size: 14px
                .modal-content, .modal-social-content
                    width: 600px
                    max-width: 90%
                    background-color: white
                    padding: 20px
                    border-radius: 8px
                    text-align: center
                    gap: 10px
                    .modal-buttons
                        button
                            margin: 0 10px
                            align-items: center
                            justify-content: space-between
                            background-color: $primary
                            border: none
                            box-shadow: 0px 0px 10px #0000002c
                            padding: 0.5em 1em
                            border-radius: 15px
                            color: $white
                            font-weight: 600
                            font-style: italic
                            cursor: pointer
                            transition: .4s
                            &:hover
                                background-color: $primarydark
                        .btn-not
                            background-color: $white
                            color: $primary
                            border-left: 5px solid $primary
                            &:hover
                                background-color: $primary
                                color: $white

@media screen and (max-width:950px)

@media screen and (max-width:500px)
